section.foto-video__bg.background__block
            div.background__block__bg-wrapeer.container
                img.background__block__mobile-title(src="../imgs/mobile/SEDONA-foto.png", alt="sedona")
                img.background__block__tablet-title(src="../imgs/tablet/SEDONA.png", alt="sedona")