section.footer.container
    p.hashtag= "#VISITSEDONA"
    ul.footer__social-list
        li.footer__social-list-item
            a(href="#")
                img(src="imgs/desktop/icon-twitter.png" alt="social-icon")
        li.footer__social-list-item
            a(href="#")
                img(src="imgs/desktop/icon-facebook.png" alt="social-icon")
        li.footer__social-list-item
            a(href="#")
                img(src="imgs/desktop/icon-youtube.png" alt="social-icon")
    p.academy__logo
        span= "разработано"
            a(href="#")
                img(src="imgs/desktop/htmlacademy.png")