section.footer.container
    p.hashtag= "#VISITSEDONA"
    ul.footer__social-list
        li.footer__social-list-item
            a(href="#")
                svg(width="17" height="15")
                    use(xlink:href="imgs/sprite.svg#twitter")
        li.footer__social-list-item
            a(href="#")
                svg(width="12" height="22")
                    use(xlink:href="imgs/sprite.svg#fb-icon")
        li.footer__social-list-item
            a(href="#")
                svg(width="20" height="16")
                    use(xlink:href="imgs/sprite.svg#youtube")
    p.academy__logo
        span= "разработано"
        a(href="#")
            svg(width="108" height="37")
                use(xlink:href="imgs/sprite.svg#logo-htmlacademy")