<!DOCTYPE html>
include .././variables/vars.pug
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="css/style.css")
        block title
        title Sedona
    body
        header.main__header
            button.mobi__menu-btn(type="button")
                span.decor__span
            button.mobi__menu-close(type="button")   
            div.main__header-wrapper.container
                a.header__logo(href="#")
                    svg(width="188" height="90").desktop__logo
                        use(xlink:href="imgs/sprite.svg#logo-sedona")
                    img.desktop__logo-mobile(src="imgs/mobile/logotype-mobile.png")
                nav.main__nav
                    ul.nav__list
                        each item in navItems
                            li.nav__list-item
                                a(href=item.href).nav__list-link=item.link
